<style>
	body {
		background: #e5e5e5;
		max-width: 1412px;
		margin: auto;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 0.8em;
	}
	
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.round {
		background: #fff;
		padding: 20px;
		margin: 20px;
	}

	h1, h2, h3, h4 {
		margin: 0;
	}

	.title {
		margin: 20px;
		font-size: 3em;
	}

	h2 {
		padding: 6px 12px;
		background-color: #3c3c3c;
		color: #fff;
	}

	h3 {
		background-color: #18aff5;
		color: #fff;
		padding: 4px 12px;
	}

	h4 {
		padding: 3px 12px;
		background-color: #e5e5e5;
	}

	.status {
		padding: 5px 12px;
		color: #fff;
		background-color: #fe6060;
	}

	.players {
		display: -webkit-box;
		display: -moz-box;
		display: box;
	}

	.player {
		display: inline-block;
		margin: 10px 10px 18px 10px;

		-webkit-box-flex: 1;
		-moz-box-flex: 1;
		box-flix: 1;
}

	.generated {
		background-color: #ffd584;
		padding: 10px;
		margin: 10px 0;
	}

	.generators, .improved_generators {
		margin: 10px;
		display: inline-block;
	}

	.resources {
		margin: 10px;
	}

	.resources li {
		display: inline-block;
	}

	.score {
		margin-top: 10px;
	}

	.offering, .requesting {
		width: 100px;
		display: inline-block;
		margin: 10px;
	}
	.result {
		display: inline-block;
	}

	.trade:nth-child(odd) {
		background-color: #e5e5e5;
	}

	.trade h4 {
		background-color: transparent;
	}

	.end_game {
		margin: 20px;
		padding: 20px;
		background-color: #fff;
	}

	.end_game h3, .end_game .resources {
		margin-right: 20px;
	}

	.gameover {
		margin-bottom: 20px;
	}

	/* icons */

	.customers, .pr, .arrows {
		display: inline-block;
	}

	.customers {
		margin-left: 10px;
	}

	.idea, .website, .coffee, .feature, .cash {
		margin-right: 4px;
	}

	.idea, .website, .coffee, .feature, .cash,
	.g_angel_investor, .g_coder, .g_kettle, .g_suggestion_box, .g_designer,
	.i_angel_investor, .i_coder, .i_kettle, .i_suggestion_box, .i_designer,
	.pr, .customers, .arrow, .t_arrow {
		padding-left: 20px;
		height: 16px;
		background-color: transparent;
		background-image: url(http://wazoku-static.s3.amazonaws.com/icons/milkroundabout.png);
		background-repeat: no-repeat;
	}

	.pr {
		background-position: 0 -256px;
	}
	.customers {
		background-position: 0 -272px;
	}
	.idea {
		margin-right: 4px;
		background-position: 0 -32px;
	}
	.website {
		margin-right: 4px;
		background-position: 0 -64px;
	}
	.coffee {
		margin-right: 4px;
		background-position: 0 -48px;
	}
	.feature {
		margin-right: 4px;
		background-position: 0 0;
	}
	.cash {
		margin-right: 4px;
		background-position: 0 -16px;
	}
	.g_angel_investor {
		background-position: 0 -208px;
	}
	.g_coder {
		background-position: 0 -112px;
	}
	.g_kettle {
		background-position: 0 -176px;
	}
	.g_suggestion_box {
		background-position: 0 -144px;
	}
	.g_designer {
		background-position: 0 -96px;
	}
	.i_angel_investor {
		background-position: 0 -224px;
	}
	.i_coder {
		background-position: 0 -128px;
	}
	.i_kettle {
		background-position: 0 -192px;
	}
	.i_suggestion_box {
		background-position: 0 -160px;
	}
	.i_designer {
		background-position: 0 -80px;
	}
	.arrow {
		background-position: 0 -240px;
	}
	.t_arrow {
		width: 16px;
		background-position: 0 -288px;
	}

	#wazoku {
		float: left;
	}

	#wazoku span {
		display: block;
		text-align: center;
	}
	#pusher {
		float: right;
	}
	#pusher img {
		width: 200px;
	}

	#icons {
		clear: both;
	}
</style>
<h1 class="title">Startups of Shoreditch</h1>

<ul id="game">

</ul>

<div id="credit">
	<div id="wazoku">
		<span>Powered By:</span>
		<a href="http://wazoku.com"><img src="https://wazoku-static.s3.amazonaws.com/logos/wazoku-logo.png"></a>
	</div>
	<div id="pusher">
		<a href="http://pusher.com/"><img src="https://wazoku-static.s3.amazonaws.com/microapp/siliconmilkroundabout.wazoku.com/pusher+w+slogan.png"></a>
	</div>

	<p id="icons">Icons by <a href="http://p.yusukekamiyamane.com/">Yusuke Kamiyamane</a>.</p>
</div>

<script id="round-generated" type="text/x-jquery-tmpl">
	<li class="round" id="round_${data.round}">
		<h1>Round ${data.round}</h1>
				<ul class="generated">{\\
			%pass
{each(id, player) data.generated}}
				{\\
					%pass
{each(resource,amount) resources}}
	<li class="${resource}">${name} got ${amount}x ${resource}</li>
{\\
%pass
{/each}}
{\\
%pass
{/each}}

		</ul>

		<ul class="players">{\\
			%pass
{each(id, player) data.players}}
				<li class="player player_${id}">
					<h3>${name}</h3>
					<h4>Assets</h4>
					<ul class="generators">{\\
						%pass
{each(resource, amount) generators}}
						<li class="g_${resource}">${amount}x ${generator_names[resource]}</li>
						{\\
						%pass
{/each}}
					</ul>
					<ul class="arrows">
						<li class="arrow"></li>
						<li class="arrow"></li>
						<li class="arrow"></li>
						<li class="arrow"></li>
						<li class="arrow"></li>
					</ul>
					<ul class="improved_generators">{\\
						%pass
{each(resource, amount) improved_generators}}
						<li class="i_${resource}">${amount}x ${improved_generator_names[resource]}</li>
						{\\
						%pass
{/each}}
					</ul>
					<h4>Production</h4>
					<ul class="resources">{\\
						%pass
{each(resource, amount) resources}}
						<li class="${resource}">${amount}x ${resource_names[resource]}</li>
						{\\
						%pass
{/each}}
					</ul>
					<h4>Total</h4>
					<div class="score">
						<span class="customers">${customers} Customers</span>
						<span class="pr">${pr} PR</span>
					</div>
				</li>
				{\\
				%pass
{/each}}
		</ul>
		<ul class="round_actions"></ul>
	</li>
</script>

<script id="round" type="text/x-jquery-tmpl">
	<li class="round" id="round_${data.round}">
		<h1>Round ${data.round}</h1>
		<ul class="players">{\\
			%pass
{each(id, player) data.players}}
				<li class="player player_${id}">
					<h3>${name}</h3>
					<h4>Assets</h4>
					<ul class="generators">{\\
						%pass
{each(resource, amount) generators}}
						<li class="g_${resource}">${amount}x ${generator_names[resource]}</li>
						{\\
						%pass
{/each}}
					</ul>
					<ul class="arrows">
						<li class="arrow"></li>
						<li class="arrow"></li>
						<li class="arrow"></li>
						<li class="arrow"></li>
						<li class="arrow"></li>
					</ul>
					<ul class="improved_generators">{\\
						%pass
{each(resource, amount) improved_generators}}
						<li class="i_${resource}">${amount}x ${improved_generator_names[resource]}</li>
						{\\
						%pass
{/each}}
					</ul>
					<h4>Production</h4>
					<ul class="resources">{\\
						%pass
{each(resource, amount) resources}}
						<li class="${resource}">${amount}x ${resource_names[resource]}</li>
						{\\
						%pass
{/each}}
					</ul>
					<h4>Total</h4>
					<div class="score">
						<span class="customers">${customers} Customers</span>
						<span class="pr">${pr} PR</span>
					</div>
				</li>
				{\\
				%pass
{/each}}
		</ul>
		<ul class="round_actions"></ul>
	</li>
</script>

<script id="turn" type="text/x-jquery-tmpl">
	<li class="turn_${data.turn}">
		<h2>${data.player.name}s turn</h2>
		<ul class="turn_actions"></ul>
	</li>
</script>

<script id="turn-skipped" type="text/x-jquery-tmpl">
	<li class="skipped turn_${data.turn}">
		<h2>${data.player.name}s skipped their turn</h2>
		<ul class="turn_actions"></ul>
	</li>
</script>

<script id="purchase-generator" type="text/x-jquery-tmpl">
	<li class="purchase_generator generator_${data.generator_type}">
		<h4 class="status">${data.player.name} purchased a ${data.generator_type}</h4>
	</li>
</script>

<script id="upgrade-generator" type="text/x-jquery-tmpl">
	<li class="upgrade_generator upgrade_${data.generator_type}">
		<h4 class="status">${data.player.name} upgraded a ${data.generator_type}</h4>
	</li>
</script>

<script id="purchase-pr" type="text/x-jquery-tmpl">
	<li class="purchase_pr">
		<h4 class="status">${data.player.name} purchased a pr</h4>
	</li>
</script>

<script id="timeout" type="text/x-jquery-tmpl">
	<li class="purchase_pr">
		<h4 class="status">${data.player.name} ran out of time!</h4>
	</li>
</script>

<script id="trade" type="text/x-jquery-tmpl">
	<li class="trade pending" id="trade_${data.trade_id}">
		<h4>${data.player.name} is offering to trade.</h4>
		<ul class="offering">{\\
			% pass
{each(offer, amount) data.offering}}
				<li class="${offer}">${amount}x ${offer}</li>
			{\\
			% pass
{/each}}
		</ul>

		<ul class="arrows">
			<li class="t_arrow"></li>
		</ul>

		<ul class="requesting">
			{\\
			% pass
{each(request, amount) data.requesting}}
				<li class="${request}">${amount}x ${request}</li>
			{\\
			% pass
{/each}}
		</ul>

		<ul class="result">
			<li>The other players are considering the offer</li>
		</ul>
	</li>
</script>

<script id="trade-accepted" type="text/x-jquery-tmpl">
	The trade was accepted by ${data.player.name}
</script>

<script id="trade-bank-accepted" type="text/x-jquery-tmpl">
	The trade was accepted by the bank.
</script>

<script id="bank-trade-accepted" type="text/x-jquery-tmpl">
	The trade was accepted by the bank
</script>

<script id="end" type="text/x-jquery-tmpl">
	<li class="end_game">
		<h1 class="gameover">The game is over</h1>
		<ul class="players">{\\
			%pass
{each(id, player) data.players}}
				<li class="player_${id}">
					<h3>${name}</h3>
					<ul class="generators">{\\
						%pass
{each(resource, amount) generators}}
						<li class="g_${resource}">${amount}x ${generator_names[resource]}</li>
						{\\
						%pass
{/each}}
					</ul>
					<ul class="improved_generators">{\\
						%pass
{each(resource, amount) improved_generators}}
						<li class="i_${resource}">${amount}x ${improved_generator_names[resource]}</li>
						{\\
						%pass
{/each}}
					</ul>

					<ul class="resources">{\\
						%pass
{each(resource, amount) resources}}
						<li class="${resource}">${amount}x ${resource_names[resource]}</li>
						{\\
						%pass
{/each}}
					</ul>
					<span class="customers">${customers} customers</span>
					<span class="pr">${pr} PR</span>
				</li>
				{\\
				%pass
{/each}}
		</ul>
	</li>
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
<script src="http://js.pusher.com/1.11/pusher.min.js"></script>

<script>
	
	var resource_names = {{!resource_names}}
	var generator_names = {{!generator_names}}
	var improved_generator_names = {{!improved_generator_names}}

	function add_to_turn(round, turn, el) {
		$('#round_' + round + ' .turn_' + turn + ' .turn_actions').append(el)
		window.scrollTo(0, document.body.scrollHeight);
	}

	var pusher = new Pusher('b91e1271dbcde8bb5b5d');
	var channel = pusher.subscribe('game-{{game_id}}');

	channel.bind('new-round', function(data) {
		data['generator_names'] = generator_names;
		data['improved_generator_names'] = improved_generator_names;
		data['resource_names'] = resource_names;
		if ('generated' in data) {
			$('#game').append($('#round-generated').tmpl({"data": data}));
		} else {
			$('#game').append($('#round').tmpl({"data": data}));
		}
	});

	channel.bind('start-turn', function(data) {
		$('#round_' + data.round + ' .round_actions').append($('#turn').tmpl({'data': data}));
		window.scrollTo(0, document.body.scrollHeight);
	});

	channel.bind('turn-skipped', function(data) {
		$('#round_' + data.round + ' .round_actions').append($('#turn').tmpl({'data': data}));
		window.scrollTo(0, document.body.scrollHeight);
	});

	channel.bind('purchase-generator', function(data) {
		add_to_turn(data.round, data.turn, $('#purchase-generator').tmpl({'data': data}))
	});

	channel.bind('upgrade-generator', function(data) {
		add_to_turn(data.round, data.turn, $('#upgrade-generator').tmpl({'data': data}))
	});
	channel.bind('purchase-pr', function(data) {
		add_to_turn(data.round, data.turn, $('#purchase-pr').tmpl({'data': data}))
	});
	channel.bind('timeout', function(data) {
		add_to_turn(data.round, data.turn, $('#timeout').tmpl({'data': data}))
	});
	channel.bind('trade', function(data) {
		add_to_turn(data.round, data.turn, $('#trade').tmpl({'data': data}))
	});
	channel.bind('trade-rejected', function(data) {
		var div = $('#trade_' + data.trade_id);
		div.removeClass('pending').addClass('rejected')
		div.find('.result').text('The trade was rejected')
	});
	channel.bind('trade-accepted', function(data) {
		var div = $('#trade_' + data.trade_id);
		div.removeClass('pending').addClass('accepted')
		div.find('.result').html($('#trade-accepted').tmpl({'data': data}))
	});

	channel.bind('trade-bank-accepted', function(data) {
		var div = $('#trade_' + data.trade_id);
		div.removeClass('pending').addClass('accepted').addClass('bank-accepted')
		div.find('.result').html($('#trade-bank-accepted').tmpl({'data': data}))
	});

	channel.bind('bank-trade-accepted', function(data) {
		var div = $('#trade_' + data.trade_id);
		div.removeClass('pending').addClass('accepted').addClass('bank-accepted')
		div.find('.result').html($('#bank-trade-accepted').tmpl({'data': data}))
	});

	channel.bind('end', function(data) {
		data['generator_names'] = generator_names;
		data['improved_generator_names'] = improved_generator_names;
		data['resource_names'] = resource_names;
		$('#game').append($('#end').tmpl({"data": data}));
		window.scrollTo(0, document.body.scrollHeight);
	});

	channel.bind('dump-round', function(pushes) {
		for (var i in pushes) {
			pusher.channels.channels['game-{{game_id}}'].emit(pushes[i][0], pushes[i][1]);
		}
		window.scrollTo(0, document.body.scrollHeight);
	});

	var pushes = {{!pushes}}

	for (var i in pushes) {
		pusher.channels.channels['game-{{game_id}}'].emit(pushes[i][0], pushes[i][1]);
	}
</script>