<h1>{{game_name}}</h1>

<ul id="game">

</ul>

<script id="round-generated" type="text/x-jquery-tmpl">
	<li id="round_${data.round}">
		<h1>Round ${data.round}</h1>
				<ul>{\\
			%pass
{each(id, player) data.generated}}
				{\\
					%pass
{each(resource,amount) resources}}
	<li>${name} got ${amount}x ${resource}</li>
{\\
%pass
{/each}}
{\\
%pass
{/each}}

		</ul>

		<ul class="players">{\\
			%pass
{each(id, player) data.players}}
				<li class="player_${id}">
					<h3>${player}</h3>
					<ul class="generators">{\\
						%pass
{each(resource, amount) generators}}
						<li>${amount}x ${resource}</li>
						{\\
						%pass
{/each}}
					</ul>
					<ul class="improved_generators">{\\
						%pass
{each(resource, amount) improved_generators}}
						<li>${amount}x ${resource}</li>
						{\\
						%pass
{/each}}
					</ul>

					<ul class="resources">{\\
						%pass
{each(resource, amount) resources}}
						<li>${amount}x ${resource}</li>
						{\\
						%pass
{/each}}
					</ul>
					<span class="victory_points">${victory_points} Points</span>
					<span class="roads">${roads} Roads</span>
				</li>
				{\\
				%pass
{/each}}
		</ul>
		<ul class="round_actions"></ul>
	</li>
</script>

<script id="round" type="text/x-jquery-tmpl">
	<li id="round_${data.round}">
		<h1>Round ${data.round}</h1>
		<ul class="players">{\\
			%pass
{each(id, player) data.players}}
				<li class="player_${id}">
					<h3>${player}</h3>
					<ul class="generators">{\\
						%pass
{each(resource, amount) generators}}
						<li>${amount}x ${resource}</li>
						{\\
						%pass
{/each}}
					</ul>
					<ul class="improved_generators">{\\
						%pass
{each(resource, amount) improved_generators}}
						<li>${amount}x ${resource}</li>
						{\\
						%pass
{/each}}
					</ul>

					<ul class="resources">{\\
						%pass
{each(resource, amount) resources}}
						<li>${amount}x ${resource}</li>
						{\\
						%pass
{/each}}
					</ul>
					<span class="victory_points">${victory_points} Points</span>
					<span class="roads">${roads} Roads</span>
				</li>
				{\\
				%pass
{/each}}
		</ul>
		<ul class="round_actions"></ul>
	</li>
</script>

<script id="turn" type="text/x-jquery-tmpl">
	<li class="turn_${data.turn}">
		<h2>${data.player.player}s turn</h2>
		<ul class="turn_actions"></ul>
	</li>
</script>

<script id="turn-skipped" type="text/x-jquery-tmpl">
	<li class="skipped turn_${data.turn}">
		<h2>${data.player.player}s skipped their turn</h2>
		<ul class="turn_actions"></ul>
	</li>
</script>

<script id="purchase-generator" type="text/x-jquery-tmpl">
	<li class="purchase_generator generator_${data.generator_type}">
		${data.player.player} purchased a ${data.generator_type}
	</li>
</script>

<script id="upgrade-generator" type="text/x-jquery-tmpl">
	<li class="upgrade_generator upgrade_${data.generator_type}">
		${data.player.player} upgraded a ${data.generator_type}
	</li>
</script>

<script id="purchase-road" type="text/x-jquery-tmpl">
	<li class="purchase_road">
		${data.player.player} purchased a road
	</li>
</script>

<script id="trade" type="text/x-jquery-tmpl">
	<li class="trade pending" id="trade_${data.trade_id}">
		${data.player.player} is offering to trade.
		<ul class="offering">{\\
			% pass
{each(offer, amount) data.offering}}
				<li>${amount}x ${offer}</li>
			{\\
			% pass
{/each}}
		</ul>

		for

		<ul class="requesting">
			{\\
			% pass
{each(request, amount) data.requesting}}
				<li>${amount}x ${request}</li>
			{\\
			% pass
{/each}}
		</ul>

		<div class="result">
			The other players are considering the offer
		</div>
	</li>
</script>

<script id="trade-accepted" type="text/x-jquery-tmpl">
	The trade was accepted by ${data.player.player}
</script>

<script id="award-bonus" type="text/x-jquery-tmpl">
	<li class="bonus">
		<p>${data.player.player} was awarded ${data.points} bonus points.</p>
	</li>
</script>

<script id="end" type="text/x-jquery-tmpl">
	<li class="end_game">
		<h1>The game is over</h1>
		<ul class="players">{\\
			%pass
{each(id, player) data.players}}
				<li class="player_${id}">
					<h3>${player}</h3>
					<ul class="generators">{\\
						%pass
{each(resource, amount) generators}}
						<li>${amount}x ${resource}</li>
						{\\
						%pass
{/each}}
					</ul>
					<ul class="improved_generators">{\\
						%pass
{each(resource, amount) improved_generators}}
						<li>${amount}x ${resource}</li>
						{\\
						%pass
{/each}}
					</ul>

					<ul class="resources">{\\
						%pass
{each(resource, amount) resources}}
						<li>${amount}x ${resource}</li>
						{\\
						%pass
{/each}}
					</ul>
					<span class="victory_points">${victory_points} Points</span>
					<span class="roads">${roads} Roads</span>
				</li>
				{\\
				%pass
{/each}}
		</ul>
	</li>
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
<script src="http://js.pusher.com/1.11/pusher.min.js"></script>

<script>
	
	function add_to_turn(round, turn, el) {
		$('#round_' + round + ' .turn_' + turn + ' .turn_actions').append(el)
	}

	var pusher = new Pusher('b91e1271dbcde8bb5b5d');
	var channel = pusher.subscribe('game-{{game_id}}');

	channel.bind('new-round', function(data) {
		if ('generated' in data) {
			$('#game').append($('#round-generated').tmpl({"data": data}));
		} else {
			$('#game').append($('#round').tmpl({"data": data}));
		}
	});

	channel.bind('start-turn', function(data) {
		$('#round_' + data.round + ' .round_actions').append($('#turn').tmpl({'data': data}));
	});

	channel.bind('turn-skipped', function(data) {
		$('#round_' + data.round + ' .round_actions').append($('#turn').tmpl({'data': data}));
	});

	channel.bind('purchase-generator', function(data) {
		add_to_turn(data.round, data.turn, $('#purchase-generator').tmpl({'data': data}))
	});

	channel.bind('upgrade-generator', function(data) {
		add_to_turn(data.round, data.turn, $('#upgrade-generator').tmpl({'data': data}))
	});
	channel.bind('purchase-road', function(data) {
		add_to_turn(data.round, data.turn, $('#purchase-road').tmpl({'data': data}))
	});
	channel.bind('trade', function(data) {
		add_to_turn(data.round, data.turn, $('#trade').tmpl({'data': data}))
	});
	channel.bind('trade-rejected', function(data) {
		var div = $('#trade_' + data.trade_id);
		div.removeClass('pending').addClass('rejected')
		div.find('.result').text('The trade was rejected')
	});
	channel.bind('trade-accepted', function(data) {
		var div = $('#trade_' + data.trade_id);
		div.removeClass('pending').addClass('accepted')
		div.find('.result').html($('#trade-accepted').tmpl({'data': data}))
	});
	channel.bind('award-bons', function(data) {
		$('#game').append($('#award-bonus').tmpl({"data": data}));
	});
	channel.bind('end', function(data) {
		$('#game').append($('#end').tmpl({"data": data}));
	});

	var pushes = {{!pushes}}

	for (var i in pushes) {
		pusher.channels.channels['game-{{game_id}}'].emit(pushes[i][0], pushes[i][1]);
	}
</script>