<h1>Shoreditch Gameserver</h1>

<form method="POST" action="/ui/game">
	<h2>Players</h2>
	<ul>
		%for player in players:
			<li>{{player['name']}} : {{player['endpoint']}} <input type="text" name="player_{{player['id']}}" value="0"></li>
		%end
	</ul>
	<label>Game Name<input type="text" name="name"></label>
	<button>Start Game</button>
</form>

<h3>Add Player</h3>
<form method="POST" action="/ui/player">
	<label>Name<input type="text" name="name"></label>
	<label>Endpoint<input type="text" name="endpoint"></label>
	<button>Add player</button>
</form>